.signinbody_container {
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .signinbody_form {
    display: flex;
    flex-direction: column;
    background-color: #e0ffff;
    padding: 50px 40px;
  }
  .signinbody_title {
    text-align: center;
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 20px;
  }
  .signinbody_form > input,
  .signinbody_form > button {
    margin: 10px 0;
  }
  .signinbody_form > input {
    height: 40px;
    border-radius: 10px;
    border: none;
    padding: 0 10px;
    width: 300px;
    background-color: lightgray;
  }
  .signinbody_form > button {
    height: 35px;
    background-color: #181818;
    font-weight: 700;
    color: white;
    cursor: pointer;
  }
  .signinbody_text {
    text-align: center;
    margin-top: 10px;
    color: grey;
  }