.nav_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding-left: 3%;
    padding-right: 1%;
    height: 80px;
}
.nav_left>img{
    width: 125px;
    
}
.nav_right {
    display: flex;
    text-decoration-color: none;
    /* font-size: 18px; */
    
}

.nav_right>input{
    width: 280px;
    height: 28px;
    margin-top: 3.4%;
    padding-right: 20px;
  

}

.nav_right>p {
    margin-left: 10px;
    padding: 8px 15px;
    border-radius: 8px;
}

.nav_right>p:hover {
    background-color: lightgray;
    border-radius: 8px;
    cursor: pointer;
    color: black;

}